* {
  margin: 0;
  padding: 0;
}

.img-1{
  opacity: .2;
  position: fixed;
}

.class {
  display: flex;
  justify-content: center;
}

.class2 {
  display: flex;
  justify-content: center;
  font-size: 200px;

.coolButton {
  margin-left: 20%;
}
  
button:hover {
  transform: scale(1.5);
  background-color: antiquewhite;
}
